apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: board
  labels:
    app: frontend
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000  # 외부 접속용 포트 (30000-32767 범위)
    protocol: TCP
    name: http
  selector:
    app: frontend

